#sidenav {
  #sidenav-content {
    background-image: url("../img/ice.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #logo-image {
    position: relative;
    left: 6px;
    top: -6px;
    width: 80%;
  }
  #title {
    position: relative;
    top: 40px;
    color: #808080;
  }
  #author-image-button {
    min-width: 100px;
    min-height: 100px;
    margin-top: 40px;
    margin-bottom: 20px;
    border: solid 4px #ffffff;
    background-image: url("../img/author.jpg");
    background-size: cover;
  }
  #info-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #link-container-tray {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
  }
  .link-container {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
    border: solid 1px #808080;
    background-color: #ffffff;
  }
  .logo-button {
    min-width: 200px;
    min-height: 200px;
    background-color: #FFF;
    display: flex;
  }
  .link-button img {
    width: 100%;
    height: 100%;
    display: block;
  }
  .toggle-container {
    z-index: 1000;
    position: fixed;
    left: 20px;
    top: 20px;
    width: 260px;
    -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
  }
  .toggle-container-closed {
    width: 40px;
  }
  .md-sidenav-backdrop {
    display: none;
  }
  #title-container {
    padding-top: 50px;
  }
  .sidenav-buffer-visible {
    width: 300px;
    -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
  }
  .sidenav-buffer-hidden {
    width: 0px;
  }
}
@media (max-width: 1000px) {
  #sidenav-section {
    position: absolute;
    min-height: 100%;
  }
}
