$TOPNAV_HEIGHT: 64px;
#topnav-section {
  height: $TOPNAV_HEIGHT;
  min-height: $TOPNAV_HEIGHT;
}
#topnav {
  background-color: $SITE_TEAL;
  height: $TOPNAV_HEIGHT;
  margin-bottom: 3%;
  .navigation-icon-button {
    height: 40px;
    width: 40px;
    padding: 6px;
    display: flex;
    background-color: #FFF;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .navigation-logo-button {
    height: $TOPNAV_HEIGHT;
    margin-left: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 140px;
    img {
      height: 100%;
    }
  }
}
