$SIDENAV_WIDTH: 304px;

//---------- THEME COLORS -----------//
$SITE_GREY: #808080;

@import 'mixins';

#body-section {
  max-height: 100%;
}
#content-section {
  overflow-y: auto;
  width: 100%;
}
a {
  text-decoration: none;
}
.md-button.md-default-theme.md-fab {
  color: $SITE_GREY;
}
.icon-button {
  @include icon-button;
}
#sidenav-toggle {
  position: absolute;
  left: 249px;
  top: 15px;
  z-index: 100;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
}
#sidenav-toggle.closed {
  left: 15px;
}

@import 'about';
@import 'ice_tags_tray';
@import 'markdown';
@import 'post';
@import 'posts';
@import 'sidenav';
