<md-content id="posts-template">
	<md-card class="card post-listing" ng-repeat="post in posts">
		<img ng-src="{{ posts[$index].imgUrl }}" class="md-card-image"></img>
		<div class="posts-info-container" ng-click="goToPost($index)" layout="vertical" layout-align="start start">
			<span class="posts-title">{{ posts[$index].title }}</span>
			<span class="posts-subtitle">{{ posts[$index].subtitle }}</span>
			<ice-tags-tray tags="{{ posts[$index].tags }}"/></ice-tags-tray>
		</div>
	</md-card>
</md-content>