<link rel="stylesheet" href="css/sidebar.css">
<md-sidenav id="blog-sidebar-header" class="md-sidenav-left" component-id="left">
        <div id="blog-title-container">
                <img id="logo-image" src="img/icenine-logo-text.png"></img>
        </div>

        <div id="info-container">
                <div id="author-container">
                        <div id="author-image-container"></div>
                </div>
                <div id="link-container-tray">
                        <a href="https://github.com/javamonn" class="link-button-link">
                                <md-button id="github-container" class="md-button-fab link-button" alt="github">
                                        <img class="link-image" src="img/github.png"/>
                                </md-button>
                        </a>
                        <a href="mailto:javamonn@gmail.com" class="link-button-link">
                                <md-button id="email-container" class="md-button-fab link-button" alt="email me">
                                        <img class="link-image" id="email-image" src="img/email.png"/>
                                </md-button>
                        </a>
                        <a href="https://www.linkedin.com/pub/daniel-ramirez/98/456/179" class="link-button-link">
                                <md-button id="linkedin-container" class="md-button-fab link-button" alt="linkedin">
                                        <img class="link-image" id="linkedin-image" src="img/linkedin.png"/>
                                </md-button>
                        </a>
                </div>
        </div>
</md-sidenav>
