<link rel="stylesheet" href="css/sidebar.css">
<div id="blog-sidebar-header">
        <div id="blog-title-container">
                <img id="logo-image" src="img/icenine-logo-text.png"></img>
        </div>

        <div id="info-container">
                <div id="author-container">
                        <div id="author-image-container"></div>
                </div>
                <div id="link-container-tray">
                        <div id="github-container" class="link-container" alt="github">
                                <a href="https://github.com/javamonn" style="display: inline-block">
                                        <img class="link-image" src="img/github.png"/>
                                </a>
                        </div>
                        <div id="email-container" class="link-container" alt="email me">
                                <a href="mailto:javamonn@gmail.com" style="display: inline-block">
                                        <img class="link-image" id="email-image" src="img/email.png"/>
                                </a>
                        </div>
                        <div id="linkedin-container" class="link-container" alt="linkedin">
                                <a href="https://www.linkedin.com/pub/daniel-ramirez/98/456/179" style="display: inline-block">
                                        <img class="link-image" id="linkedin-image" src="img/linkedin.png"/>
                                </a>
                        </div>
                </div>
        </div>
</div>
