/* Styling for a single post view */

#post-container {
	padding-top: 30px;
	padding-bottom: 30px;
	overflow-y: scroll;
}

#post-header-image {
	width: 100%;
}

#post-header-container {
	width: 100%;
	height: auto;
	padding-left: 16.665%;
	padding-right: 16.665%;
}

#post-title-container {
	width: 100%;
	font-family: Roboto;
}

#post-title {
	display: block;
	color: rgba(0, 0, 0, .80);
	font-size: 75px;
	font-weight: 300;
}

#post-subtitle {
	display: block;
	color: rgba(0, 0, 0, .54);
	font-weight: 100;
	font-size: 40px;
}

.post-content {
	margin: auto;
	width: 66.33%;
	font-family: Roboto;
	font-size: 18px;
	line-height: 36px;
}

.post-content-expanded {
	position: absolute;
	top: 100%;
	left: 16.665%;
}

.border-container {
	margin-top: 30px;
	margin-bottom: 30px;
	width: 100%;
	position: relative;
}

.content-button {
	position: absolute;
	left: 50%;
	margin-left: -20px;
	margin-top: 10px;
}

.content-divider {
	width: 100%;
	margin-top: 25px;
	margin-bottom: 25px;
	border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.content-divider.ng-enter,
.content-divider.ng-leave,
.content-button.ng-enter,
.content-button.ng-leave {
			transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
}

.content-button.ng-enter.ng-enter-active,
.content-button.ng-leave {
	max-width: 40px;
	max-height: 40px;
}

.content-button.ng-leave.ng-leave-active,
.content-button.ng-enter {
	max-height: 0px;
	max-width: 0px;
}

.content-divider.ng-enter.ng-enter-active,
.content-divider.ng-leave {
	width: 100%;
}

.content-divider.ng-leave.ng-leave-active,
.content-divider.ng-enter {
	width: 0%;
}

.content-divider:after {
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border: rgba(0, 0, 0, .12) 1px solid;
    position: relative;
    margin-left: -5px;
    top: 4px;
    left: 50%;
    background: #FFF;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    box-shadow: #FFF 0 0 0 5px;
}