/* Styling for the posts list */

.posts-title {
	color: rgba(0, 0, 0, .80);
}

.posts-subtitle {
	color: rgba(0, 0, 0, .54);
}

#posts-template {
	width: 100%;
	padding-left: 16.665%;
	padding-right: 16.665%;
}

.posts-info-container {
	font-family: Roboto;
	position: relative;
	text-transform: none;
	height: 150px;
}

.posts-info-container span {
	text-align: left;
	display: block;
}

.posts-info-container .md-button-inner {
	height: auto;
}

.ice-tags-tray {
	position: absolute;
	right: 1px;
	bottom: -1px;
}

.posts-info-container .posts-title {
	padding: 0px;
	margin: 0px;
	font-weight: 300;
	font-size: 60px;
}

.posts-info-container .posts-subtitle {
	padding: 0px;
	margin: 0px;
	font-weight: 100;
	font-size: 25px;
}

.card {
	margin-bottom: 20px;
}