#write-template {
	position: relative;
	left: 23%;
	width: 77%;
	height: 100%;
}

#authenticate-container {
	width: 50%;
	margin: auto;
	position: relative;
	top: 30%;
}

#auth-input {
	margin-right: 60px;
}

#auth-button {
	height: 40px;
}

.auth-component {
	display: inline-block;
}

#auth-input {
	width: 300px;
}

md-input-group.md-input-focused input {
	border-color: #37555D;
}


md-input-group.md-input-focused label {
	color: #37555D;
	font-size: 13px;
}

md-input-group label {
	font-size: 14px;
}

md-input-group label,
md-input-group input {
	width: 300px;
}