<!-- View for a single post -->
<div id="post-container" flex layout-fill>
  <div id="post-header-container">
    <img id="post-header-image" ng-src="{{ getImageUrl() }}"></img>
    <div id="post-title-container" layout="column" layout-align="center end">
      <span id="post-title">{{ post.title }}</span>
      <span id="post-subtitle">{{ post.subtitle }}</span>
    </div>
    <div layout="row" class="border-container" layout-align="center"></div>
  </div>
  <div
    id="post-content"
    ng-include="getTemplateUrl()">
  </div>

  <div id="share-tray" layout="column" layout-align="start end">
    <div id="share-buttons" layout="row" layout-align="space-around">
      <md-button class="icon-button md-fab" id="share-twitter" ng-href="{{ getShareTwitterUrl() }}" target="_blank">
        <i class="fa fa-twitter icon-fa"></i>
      </md-button>
      <md-button class="icon-button md-fab" id="share-gplus" ng-href="{{ getSharePlusUrl() }}" target="_blank">
        <i class="fa fa-google-plus icon-fa"></i>
      </md-button>
      <md-button class="icon-button md-fab" id="share-tumblr" ng-href="{{ getShareTumblrUrl() }}" target="_blank">
        <i class="fa fa-tumblr icon-fa"></i>
      </md-button>
    </div>
  </div>
</div>
