<div class="ice-tags-tray">
	<div class="ice-label-icon">
		<ng-include src="'libs/material-design-icons/action/svg/ic_label_48px.svg'"></ng-include>
	</div>


	<!-- Styles -- should probably seprate into separate stylesheet -->
	<style>
		.ice-label-icon {
			width: 30px;
			height: 30px;
			border: solid 1.5px rgba(0, 0, 0, .12);
			border-radius: 40px;
			text-align: center;
			position: relative;
		}

		.ice-label-icon svg{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			width: 20px;
			height: 20px;
			z-index: 1000;
		}

		/* Animation */

		.ice-label-icon {
			-webkit-transition: all 0.4s ease-in-out;
			transition: all 0.4s ease-in-out;
			background-color: #FFF;
			border: solid 1.5px rgba(0, 0, 0, .12);
		}

		.ice-label-icon.tray-expanded {
			background-color: rgba(0, 0, 0, .12);
			border: solid 1.5px #37555D;
		}

		.ice-label-icon ng-include svg {
			-webkit-transition: all 0.4s ease-in-out;
			transition: all 0.4s ease-in-out;
			transform: rotate(0deg);
			fill: rgba(0, 0, 0, .12) ;
		}

		.ice-label-icon.tray-expanded ng-include svg {
			transform: rotate(180deg);
			fill: #37555D;
		}
	</style>
</div>