<div class="post-template">
<div ice-markdown>
Coinciding with the release of [Android 5.0, Lollipop](http://www.android.com/versions/lollipop-5-0/), Google has engineered the [Material Design](http://www.google.com/design/spec/material-design/introduction.html) paradigm, a UX philosophy that aims to simplify digital interactions while simultaneously inspire users.
</div>

<iframe width="660" height="371" src="//www.youtube.com/embed/Q8TXgCzxEnw" frameborder="0" allowfullscreen></iframe>

<div ice-markdown>
Two fundamental themes underpin Material Design:
	- **"Material is the Metaphor"** - Make the intangible digital world respect the laws of the physical to immediately familiarize and entice users with UI components.
	- **Bold, graphic, intentional*** - Deliberate whitespace, choiceful minimalism, and jarring juxtoposition of color provide the groundwork for an immersive user experience.
Google lists a third theme on the design documents for Material, "Motion provides meaning", but this idea is at root related to the first theme, the physical metaphor, that is, components should react as you expect they would in the real world.

The themes composing Material Design are by no means Google's invention, Google has merely arranged them and leveraged their standing to formally introduce them to the technical community. Similar themes have been used with similar intent by artists throughout history to engage, immerse, and inspire people. I will focus on one the music of one such artist - the Bebop Jazz Pianist, Thelonious Sphere Monk.

Monk was a giant in American Jazz, earning the title as "The High Priest of Bebob", the style of jazz that he helped pioneer. He is the second most recorded Jazz artist, behind only Duke Ellington. Monk captured his recognition, both artistically and publically, largely through his "unorthordox" approach to the piano - using and at times abusing dissonant chords and dramatic silences.
</div>
<iframe width="420" height="315" src="//www.youtube.com/embed/FRUWtrgTpcs" frameborder="0" allowfullscreen></iframe>

<div ice-markdown ice-attribution>
> Monk preferred descending chromatic chord progressions and dissonant "open-voiced" chords made up of just the root and the seventh or ninth degree of the scale. His chords often elicited chuckles from the audiance, but Monk didn't mind. Monk's chords were a product of years of training, experimentation, and a solid understanding of music theory. Monk knew it, which is why he became so annoyed when critics, musicians, or fans - even the sympathetic ones - described his chords as "wrong" or "weird".

> //attribution=Thelonious Monk: The Life And Times of American Original,

> //attribution=Robin D.G. Kelley

Now, compare this reaction to your own immediate reaction of Material's use of borderline jarring color juxtapositions:

</div>

<div layout="horizontal" layout-align="space-around">
	<img src="material-color-1.png" />
	<img src="material-color-2.png" />
</div>

<div ice-markdown>
My initial thoughts were somewhere between "wrong" and "weird". My second, more analytical thoughts included: "Yellow highlight on a black background, crowned with a cyan status bar? What?" and "How does that cyan fab button fit in with the pink theme?".

Material's color philosophy absolutely shatters the flat and low contrast styles that have come to dominate modern design. Modern trends in design, although there is no cohesive movement responsible for it, by and large put lots of emphasis on sterile color combinations and making things blend together. For example, take a look at the recently redesigned landing page for [Khan Academy](https://www.khanacademy.org/)
</div>

Instead of utilising palletes of washed out colors with similar hues, Material encourages the use of unexpected and vibrant color, often from opposite sides of the color wheel. 

<div ice-markdown>
The reasoning behind this is the same reasoning behind Monk's employ of dissonant chords - it captures and ruthlessly holds the attention of the content consumer. In the case of Material, the bold colors will draw the user's attention to the important part of the user interface. In the case of Monk, the seemingly out of place chords force you to reconstruct the song's original theme in your mind.

Furthermore, one can draw parallels between Materials "deliberate whitespace", that is, pragmatic and ergonomic minimalism, and the dramatic silences employed by Monk. This is not to say that Monk was the first to use the concept of minimalism in his art, although Minimalism as an art movement was reaching it's peak during the same time as Monk's Bebop, but there is an important difference between minimalism as abstraction and the concept of "ergonomic minimalism". 

Stella and Klein were, at heart, abstractionists - the act of minimalism itself was the art. 
</div>

[klien monochrome here]

<div>
Monk stripped away the facade and flourishes of piano in order to draw attention to the core theme - what remained was the art. 
</div>

[piece exhibiting monks dramatic silences]

<div ice-markdown>
Material embraces Monk's idea of minimalism much more than Klein's; the context it applies it to is the user experience. Strip away all the unnecessary parts of the interface, a prime example being the views that serve only as navigation. The unnecessary parts: the gilded, the veneered and the glutonous, serve only to distract the user from the fundamental purpose of your product. Show the user only what they need to see and process at that current moment.

Suprising someone, irrespective of the domain in which you do it, will always captivate your audiance. Material is dead set on standing out and making a statement. It will succeed in doing so, just as the ideas behind it have succeeded in the past.
</div>
</div>